name: Release dev builds

on:
  workflow_run:
    workflows: [Java CI with Gradle]
    types: [completed]
    branches: [master, testing]

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Build with Gradle
      uses: gradle/gradle-build-action@v2
      with:
        gradle-version: 6.7.1
        arguments: desktop:dist
    - name: Rename jar file
      run: |
        cd desktop/build/libs
        VER=`git rev-parse --short HEAD`
        mv desktop-1.0.jar team17-piazzaPanic.jar
    - name: Automatically release
      uses: marvinpinto/action-automatic-releases@v1.2.1
      with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest-dev"
          prerelease: true
          title: "Development Build"
          files: |

            desktop/build/libs/*.jar

